
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>오픈 코딩 사이트</title>

   <!-- Custom fonts for this theme -->
  <link href='{% static "myapp/vendor/fontawesome-free/css/all.min.css" %}' rel="stylesheet" type="text/css">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Theme CSS -->
    <link href="{% static 'myapp/css/freelancer.min.css' %}" rel="stylesheet">

    <link rel="stylesheet" href="../static/myapp/mycss.css">
</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="/">오픈 코딩 사이트</a>
      <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"  data-toggle="modal"  data-target="#myModal">코딩 매뉴얼</a>
          </li>         
        </ul>
      </div>
    </div>
  </nav>



  {% block content %}
  {% endblock %}



    <!-- Masthead -->
    <header class="masthead bg-primary text-white text-center">

     
<style>
  #inputCoder{
    font-size:1.3em;
    text-align:left;
    width: 60%;
    background-color:gray;
    left:20%;
    color:black;
    background-color:white;
    padding:0 0 0 0;
    margin: 0 0 0 0;
    overflow:auto;
  }
  #myModal{
    font-size:1.3em;
    text-align:left;
    width: 60%;
    background-color:gray;
    left:20%;
    color:black;
    background-color:white;
    padding:0 0 0 0;
    margin: 0 0 0 0;
    overflow:auto;
  }
  #myNewModal{
    border:0;
    font-size:1.3em;
    /* text-align:center; */
    width: 60%;
    
    left:20%;
    color:black;
    background-color:white;
    padding:0 0 0 0;
    margin: 0 0 0 0;
  }
  #modalcontent{
    padding:0 0 0 0;
    margin: 0 0 0 0;
    height:600px;

    width:100%;
  }
  #close{
    color:teal;
  }
  .modalcontent div{
    width:100%;
    border:1px solid black;
  }
</style>


<!-- Modal -->

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document" style="width:100%; padding:0 0 0 0;">
    <div id="modalcontent">
      <center><p><h1>코딩 매뉴얼</h1></p></center>
      <center><p><h2>Gaming action</h2></p></center>
      <div>학습한 지식을 가지고 맞게 답하려고 하는 것이 아니라, 시스템의 특성을 이용해서 교육용 환경을 succeed하려고 시도하는 행동 (baker,2006)
      </div>
      <center><p><h2>오픈 코딩 하는 방법</h2></p></center>
      <div>
        학생의 문제 풀이 action을 관찰했을 때, 본인이 생각하기에 gaming action에 해당된다고 생각하면 "게이밍 액션"을 선택해주세요. gaming action이 아니라고 생각하면 "논-게이밍 액션"을 선택해주세요.
      </div>
      <center><p><img src="../../media/gaming.PNG" width=80%;></p></center>
    
      <div>
        Gaming action인 경우, 해당 gaming action이 속하는 유형을 선택해주세요(Rapid Guessing 또는 System Abuse). 중복 선택 가능합니다.  
      </div>
      <center><p><img src="../../media/gaming_type.PNG" width=80%;></p></center>
      <center><p><h2>Gaming action의 유형</h2></p></center>
      <div>
        Gaming action은 두가지 유형이 있습니다.
      </div><br>
      <div>
      <ul>
        <li>Rapid Guessing : 틀린 직후에 깊이 생각하지 않고 빠르게 답을 입력하는 것</li>
        <li>System Abuse : 게임의 System적 특성을 이용해서 게임을 진행하려고 하는 것 </li>
      </ul>
    </div>

  </div>
</div>

  <div  style=" position:fixed; right:22%; top:0px; padding:0 0 0 0;">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myNewModal" style="color:teal;">
      코딩 예시 보기
    </button>
    <button type="button" class="btn  btn-primary" data-dismiss="modal" id="close"> <i class="fas fa-times fa-fw"></i></button>
  </div>

<div class="modal fade" id="myNewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document" style="width:100%;">
    <div id="modalcontent">
      <center><img src="../../media/sample2.gif" width=90%;></center><br>  
      답 입력 속도가 체감상 지나치게 빠르므로 gaming action이며, rapid guessing입니다.
      <center><img src="../../media/sample1.gif" width=90%;></center><br>
      카드를 순차적으로 입력하면서 맞추었습니다. 정답 카드를 올려놓기만 하면 succeed할 수 있다는 system적 특성을 이용하였을 가능성이 높으므로, gaming action이며, System abuse입니다.
      
    </div>
  </div>
  <div  style=" position:fixed; right:22%; top:0px; border:1px solid black; padding:0 0 0 0;">
    <button type="button" class="btn  btn-primary" data-dismiss="modal" id="close"> <i class="fas fa-times fa-fw"></i></button>
  </div>
</div>

</div>


<div class="modal fade" id="inputCoder" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document" style="width:100%; padding:0 0 0 0;">
    <div id="modalcontent">
      <center><p><h1>코딩 매뉴얼</h1></p></center>
      <center><p><h2>Gaming action</h2></p></center>
      <div>학습한 지식을 가지고 맞게 답하려고 하는 것이 아니라, 시스템의 특성을 이용해서 교육용 환경을 succeed하려고 시도하는 행동 (baker,2006)
      </div>
      <center><p><h2>오픈 코딩 하는 방법</h2></p></center>
      <div>
        학생의 문제 풀이 action을 관찰했을 때, 본인이 생각하기에 gaming action에 해당된다고 생각하면 "게이밍 액션"을 선택해주세요. gaming action이 아니라고 생각하면 "논-게이밍 액션"을 선택해주세요.
      </div>
      <center><p><img src="../../media/gaming.PNG" width=80%;></p></center>
    
      <div>
        Gaming action인 경우, 해당 gaming action이 속하는 유형을 선택해주세요(Rapid Guessing 또는 System Abuse). 중복 선택 가능합니다.  
      </div>
      <center><p><img src="../../media/gaming_type.PNG" width=80%;></p></center>
      <center><p><h2>Gaming action의 유형</h2></p></center>
      <div>
        Gaming action은 두가지 유형이 있습니다.
      </div><br>
      <div>
      <ul>
        <li>Rapid Guessing : 틀린 직후에 깊이 생각하지 않고 빠르게 답을 입력하는 것</li>
        <li>System Abuse : 게임의 System적 특성을 이용해서 게임을 진행하려고 하는 것 </li>
      </ul>
    </div>

  </div>
</div>

  <div  style=" position:fixed; right:22%; top:0px; padding:0 0 0 0;">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myNewModal" style="color:teal;">
      코딩 예시 보기
    </button>
    <button type="button" class="btn  btn-primary" data-dismiss="modal" id="close"> <i class="fas fa-times fa-fw"></i></button>
  </div>

<div class="modal fade" id="myNewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document" style="width:100%;">
    <div id="modalcontent">
      <center><img src="../../media/sample2.gif" width=90%;></center><br>  
      답 입력 속도가 체감상 지나치게 빠르므로 gaming action이며, rapid guessing입니다.
      <center><img src="../../media/sample1.gif" width=90%;></center><br>
      카드를 순차적으로 입력하면서 맞추었습니다. 정답 카드를 올려놓기만 하면 succeed할 수 있다는 system적 특성을 이용하였을 가능성이 높으므로, gaming action이며, System abuse입니다.
      
    </div>
  </div>
  <div  style=" position:fixed; right:22%; top:0px; border:1px solid black; padding:0 0 0 0;">
    <button type="button" class="btn  btn-primary" data-dismiss="modal" id="close"> <i class="fas fa-times fa-fw"></i></button>
  </div>
</div>

</div>



    </header>
  


  <!-- Bootstrap core JavaScript -->
  <script src="static/myapp/vendor/jquery/jquery.min.js"></script>
  <script src="static/myapp/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="static/myapp/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Contact Form JavaScript -->
  <script src="static/myapp/js/jqBootstrapValidation.js"></script>
  <script src="static/myapp/js/contact_me.js"></script>

  <!-- Custom scripts for this template -->
  <script src="static/myapp/js/freelancer.min.js"></script>

</body>

<!-- Footer -->
<footer class="footer text-center">
  <div class="container">
    <div class="row">

      <!-- Footer Social Icons -->
      <div class="col-lg-4 mb-5 mb-lg-0">
      </div>

    </div>
  </div>
</footer>

<!-- Copyright Section -->
<section class="copyright py-4 text-center text-white">
  <div class="container">
    <small>Copyright &copy; 인지컴퓨팅 연구실 2020 </small>
  </div>
</section>


<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-to-top d-lg-none position-fixed ">
  <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
    <i class="fa fa-chevron-up"></i>
  </a>
</div>




</html>