{% extends "base.html" %}

{% block content %}
<!-- Portfolio Section -->
<section class="page-section portfolio" id="portfolio" style="padding-top:150px;">
  <div class="container">

    <!-- Portfolio Section Heading -->
    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">게임 선택하기</h2>

    <!-- Icon Divider -->
    <div class="divider-custom">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon">
        <i class="fas fa-star"></i>
      </div>
      <div class="divider-custom-line"></div>
    </div>

    <!-- Portfolio Grid Items -->
    <div class="row">
    
      <!-- Portfolio Item 1 -->
      <!-- OnClick="location.href ='/MangoShop_1'"  -->
      <div class="col-md-6 col-lg-4" data-toggle="modal" data-target="#inputCoder" >
        <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal1">
          <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
            <div class="portfolio-item-caption-content text-center text-white" >
              Mango Shop
            </div>
          </div>
          <img class="img-fluid" src="static/myapp/img/portfolio/MangoShop.png">
        </div>
      </div>
 
      <!-- Portfolio Item 6 -->
      <div class="col-md-6 col-lg-4">
        <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal6">
          <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
            <div class="portfolio-item-caption-content text-center text-white">
              Thirty Puzzle
            </div>
          </div>
          <img class="img-fluid" src="static/myapp/img/portfolio/ThirtyPuzzle.png" alt="">
        </div>
      </div>
      
      <!-- Portfolio Item 2 -->
      <div class="col-md-6 col-lg-4">
        <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal2">
          <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
            <div class="portfolio-item-caption-content text-center text-white">
              Missing Number
            </div>
          </div>
          <img class="img-fluid" src="static/myapp/img/portfolio/MissingNumber.png" >
        </div>
      </div>

      <!-- Portfolio Item 3 -->
      <div class="col-md-6 col-lg-4">
        <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal3">
          <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
            <div class="portfolio-item-caption-content text-center text-white">
              Pattern Train
            </div>
          </div>
          <img class="img-fluid" src="static/myapp/img/portfolio/PatternTrain.png" alt="">
        </div>
      </div>

      <!-- Portfolio Item 4 -->
      <div class="col-md-6 col-lg-4">
        <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal4">
          <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
            <div class="portfolio-item-caption-content text-center text-white">
              Equation Maker
            </div>
          </div>
          <img class="img-fluid" src="static/myapp/img/portfolio/EquationMaker.png" alt="">
        </div>
      </div>

      <!-- Portfolio Item 5 -->
      <div class="col-md-6 col-lg-4">
        <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal5">
          <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
            <div class="portfolio-item-caption-content text-center text-white">
              Fish Tank
            </div>
          </div>
          <img class="img-fluid" src="static/myapp/img/portfolio/FishTank.png" alt="">
        </div>
      </div>

      

    </div>
    <!-- /.row -->

  </div>
  

</section>




  <!-- Masthead -->
  <header class="masthead bg-primary text-white text-center">

    <div class="container d-flex align-items-center flex-column">
      <!-- Masthead Heading -->
      <h2 class="masthead-heading text-uppercase mb-0">코딩 매뉴얼</h1>

      <!-- Icon Divider -->
      <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
          <i class="fas fa-star"></i>
        </div>
        <div class="divider-custom-line"></div>
      </div>
    </div>

      <!-- modal 구동 버튼 (trigger) -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" style="font-size:1.5em; color: teal;">
      코딩 매뉴얼 보기
    </button>

{% endblock %}


{% block game_name %}

<style>
  #inputCoder{
    top:25%;
    height:50%;
  }

  #submit{
    color:cadetblue;
    font-size:1.5em;
    padding:0 0 0 0;
  }
  #submit:hover{
    color:white;
  }


</style>
<div class="modal fade" id="inputCoder" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div  style="right:0px;  padding:0 0 0 0; text-align:right;">
    <button type="button" class="btn  btn-primary" data-dismiss="modal" id="close"> <i class="fas fa-times fa-fw"></i></button>
  </div>

  <div class="modal-dialog" role="document" style="width:10px; padding:0 0 0 0; background-color:orange;"></div>
  <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">MangoShop</h2>

    <div class="container" style="border:none">
      <!-- Contact Section Form -->
      <form action = "/MangoShop/submit_coder" method="post" class="gaming_form"  style="border:none"  style="border:none" >
        <!--poll이라는 함수에 id값을 url경로를 포함하여 전달, 추후 urls.py와 views.py에서 처리해야함-->
        {% csrf_token %}

      <div class="form-group floating-label-form-group controls mb-0 pb-2"  style="border:none" >
        <label>코더 이름 입력</label>
        <input name="coder_id" class="form-control" id="name" type="text" placeholder="코더 이름" data-validation-required-message="Please enter your name."  style="border:none">
        <p class="help-block text-danger"></p>
      </div>        
          
        <button class="btn btn-primary" id="submit" name="choice" value="{{screen.title}}"  style="height:4em; width:10em;">코딩하러 가기</button>
        <p></p>

    </form>


      </div>
      
</div>

{% endblock %}

