{% extends "base.html" %}

{% block content %}
<!-- Portfolio Section -->
<section class="page-section portfolio" id="portfolio" style="padding-top:150px;">
  <div class="container">

    <!-- Portfolio Section Heading -->
    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">오픈 코딩 하러 가기</h2>

    <!-- Icon Divider -->
    <div class="divider-custom">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon">
        <i class="fas fa-star"></i>
      </div>
      <div class="divider-custom-line"></div>
    </div>

    <!-- Portfolio Grid Items -->
    <div class="row">
    
      <!-- Portfolio Item 1 -->
      
      <div class="col-md-6 col-lg-4" OnClick="location.href ='/MangoShop_1'" >
        <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal1">
          <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
            <div class="portfolio-item-caption-content text-center text-white" >
              Mango Shop
            </div>
          </div>
          <img class="img-fluid" src="static/myapp/img/portfolio/MangoShop.png">
        </div>
      </div>
 

      <!-- Portfolio Item 2 -->
      <div class="col-md-6 col-lg-4">
        <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal2">
          <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
            <div class="portfolio-item-caption-content text-center text-white">
              Missing Number
            </div>
          </div>
          <img class="img-fluid" src="static/myapp/img/portfolio/MissingNumber.png" >
        </div>
      </div>

      <!-- Portfolio Item 3 -->
      <div class="col-md-6 col-lg-4">
        <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal3">
          <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
            <div class="portfolio-item-caption-content text-center text-white">
              Pattern Train
            </div>
          </div>
          <img class="img-fluid" src="static/myapp/img/portfolio/PatternTrain.png" alt="">
        </div>
      </div>

      <!-- Portfolio Item 4 -->
      <div class="col-md-6 col-lg-4">
        <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal4">
          <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
            <div class="portfolio-item-caption-content text-center text-white">
              Equation Maker
            </div>
          </div>
          <img class="img-fluid" src="static/myapp/img/portfolio/EquationMaker.png" alt="">
        </div>
      </div>

      <!-- Portfolio Item 5 -->
      <div class="col-md-6 col-lg-4">
        <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal5">
          <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
            <div class="portfolio-item-caption-content text-center text-white">
              Fish Tank
            </div>
          </div>
          <img class="img-fluid" src="static/myapp/img/portfolio/FishTank.png" alt="">
        </div>
      </div>

      <!-- Portfolio Item 6 -->
      <div class="col-md-6 col-lg-4">
        <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal6">
          <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
            <div class="portfolio-item-caption-content text-center text-white">
              Thirty Puzzle
            </div>
          </div>
          <img class="img-fluid" src="static/myapp/img/portfolio/ThirtyPuzzle.png" alt="">
        </div>
      </div>

    </div>
    <!-- /.row -->

  </div>
  

</section>




  <!-- Masthead -->
  <header class="masthead bg-primary text-white text-center">

    <div class="container d-flex align-items-center flex-column">
      <!-- Masthead Heading -->
      <h2 class="masthead-heading text-uppercase mb-0">코딩 매뉴얼</h1>

      <!-- Icon Divider -->
      <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
          <i class="fas fa-star"></i>
        </div>
        <div class="divider-custom-line"></div>
      </div>
    </div>

      <!-- modal 구동 버튼 (trigger) -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" style="font-size:1.5em; color: teal;">
      코딩 매뉴얼 보기
    </button>

{% endblock %}