{% extends "base.html" %}

{% block content %}

<style>
  img {
  width:650px;}
.gaming_form{
  width:33%; 
  /* border: 1px solid;  */
  border-color:black; 
  text-align:center;
  left:33%;
  position:relative;
}
p { margin:20px 0px; }
.btn-primary{
  background-color: aquamarine;
  color:cadetblue;
  border-color:cadetblue;
}

.btn-secondary:hover {
  color: #fff;
  background-color: indigo;
  border-color: indigo;
}

.btn-secondary {
color: #fff;
background-color: cornflowerblue;
border-color: #2c3e50;
}

.btn-secondary:hover {
color: #fff;
background-color: black;
border-color: black;
}

.btn-secondary:focus, .btn-secondary.focus {
box-shadow: 0 0 0 0.2rem rgba(76, 91, 106, 0.5);
}
.btn-danger {
color: #fff;
border-color: #2c3e50;
}
.btn-danger:hover{
background-color: #1a252f;
border-color:  #1a252f;;
}
.btn-danger:focus, .btn-danger.focus {
background-color: #1a252f;
}

.btn-danger:not(:disabled):not(.disabled):active, .btn-danger:not(:disabled):not(.disabled).active,
.show > .btn-danger.dropdown-toggle {
color: #fff;
background-color: #1a252f;
border-color: #151e27;
}

.btn-success {
color: #fff;
background-color:plum;
border-color: #2c3e50;
color:black;
}
.btn-success:focus, .btn-danger.focus {
box-shadow: 0 0 0 0.2rem rgba(76, 91, 106, 0.5);
}
.btn-success:hover {
color: #fff;
background-color: purple;
border-color: purple;
}


.btn-success:not(:disabled):not(.disabled):active, .btn-success:not(:disabled):not(.disabled).active,
.show > .btn-success.dropdown-toggle {
color: #fff;
background-color: #1a252f;
border-color: #151e27;
background-color: purple;
}


@media ( max-width: 900px ) {
img {
  width:100%;
}
.gaming_form{
  width:95%;
  left:2%;
  position:relative;
}
}


</style>


 <!-- Portfolio Section -->
 <section class="page-section portfolio" id="portfolio">
  <div class="container">
    <div class="container d-flex align-items-center flex-column" style="color:black;">       
      <img src="{{ screen.pic.url }}"  >
      <!-- <p class="masthead-subheading font-weight-light mb-0"> {{screen.title}}</p> -->
    </div>



<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>
  $(document).ready(function(){
  $("#gaming-radio").change(function(){
      if($("#gaming-radio").is(":checked")){
        $("#gaming-check-box").show();
        $("#label-check-box").show();
      }else{
        // $("#gaming-check-box").hide();
        // $("#label-check-box").hide();
      }
  });
  });
  $(document).ready(function(){
  $("#non-gaming-radio").change(function(){
      if($("#non-gaming-radio").is(":checked")){
        $("#gaming-check-box").hide();
        $("#label-check-box").hide();
      }else{
        $("#gaming-check-box").show();
        $("#label-check-box").show();
      }
  });
});
  </script>


    <form action = "/{{coder_id}}/{{next_screen_id}}/update" method="post" class="gaming_form">
    <!--poll이라는 함수에 id값을 url경로를 포함하여 전달, 추후 urls.py와 views.py에서 처리해야함-->
    {% csrf_token %}

    <p><strong>게이밍 여부</strong></p>
          <div class="btn-group btn-group-toggle" data-toggle="buttons" id="gaming-radio-box" >
            <label class="btn btn-secondary" >
              <input type="radio" name="gaming" value=1 id="gaming-radio" required="required" data-validation-required-message="Please enter your name."> <a id="gaming-radio">게이밍 액션</a>
            </label>
            <label class="btn btn-danger">
              <input type="radio" name="gaming" value=0 id="non-gaming-radio"> <a id="non-gaming-radio">논-게이밍 액션</a>
            </label>
          </div>

          <!-- <p id="label-check-box"><strong>게이밍 유형</strong></p>
          <div class="btn-group  btn-group-toggle" data-toggle="buttons" id="gaming-check-box">
            <label class="btn btn-success" >
              <input type="checkbox" name="rapid_guessing" id="jb-radio-1"> Rapid Guessing
            </label>
            <label class="btn btn-success" >
            <input type="checkbox" name="system_abuse" id="jb-radio-2"> System Abuse
            </label>
          </div> -->
          <p></p>
    
     
    <!--아무나 이와같은 포스트를 할 수 없도록 하고 해당 토큰을 가지고있는 클라이언트만 포스트 할 수 있도록 함-->
    
    <a class="btn btn-primary" href="/{{coder_id}}/{{before_screen_id}}/">Prev</a>
    {{screen_num}}
    <button class="btn btn-primary" name="choice" value="{{screen.title}}">Next</button>
    <p></p>

</form>

    



    </div>
    <!-- /.row -->

   
  

</section>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

  <style>
    #myModal{
      font-size:1.3em;
      text-align:left;
      width: 60%;
      background-color:gray;
      left:20%;
      color:black;
      background-color:white;
      padding:0 0 0 0;
      margin: 0 0 0 0;
      overflow:auto;
    }
    #myNewModal{
      border:0;
      /* font-size:1.3em; */
      /* text-align:center; */
      width: 60%;
      
      left:20%;
      color:black;
      background-color:white;
      padding:0 0 0 0;
      margin: 0 0 0 0;
    }
    #modalcontent{
      padding:0 0 0 0;
      margin: 0 0 0 0;
      height:600px;
  
      width:100%;
    }
    #close{
      color:teal;
    }
   
    .manual-img{
      width:80%;
    }
  </style>
{% endblock %}
